.container {
  padding: 50px;
  z-index: 1;
  color: rgb(43, 45, 66);
}

.container p {
  font-size: 18px;
  margin-bottom: 15px;
}

.container button {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.logo {
  max-width: 100px;
  max-height: 50px;
  border-radius: 0px;
  opacity: 100%;
  z-index: 1;
}

img {
  position: absolute;
  z-index: -1;
  border-radius: 100%;
  opacity: 80%;
}

.img1 {
  transform: rotate(30deg);
}

.img2 {
  margin: 200px 0 0 300px;
  transform: rotate(-10deg);
}

.img3 {
  margin: 90px 0 0 700px;
  transform: rotate(20deg);
}

.img4 {
  margin: 300px 0 0 1100px;
  transform: rotate(-30deg);
}

  
  .profile-icon {
    cursor: pointer;
  }
  
  .profile-container {
    display: none;
    position: absolute;
    background-color: rgba(159, 160, 195);
    top: 0;
    right: 0;
    padding: 50px;
    width: 20%; /* Set the width to 50% of the viewport */
    height: 50vh;
    margin-top: 50px;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    z-index: 2;
  }
  .profile-container img{
    position: relative;
  }
  .profile-container button{
    background-color: #333;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  