/* Additional CSS for table styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
}

th,
td {
    border: 1px solid #ddd;
    text-align: center;
    width: auto;
}
td a{
    text-decoration: none;
}
th {
    background-color: #f2f2f2;
}
.c{
    width: 120px;
}
.p{
    width: 100px;
}