table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
}

th,
td {
    border: 1px solid #ddd;
    text-align: center;
}
td a{
    text-decoration: none;
}
th {
    background-color: #f2f2f2;
}
.c{
    width: 120px;
}
.p{
    width: 100px;
}
#pw{
    word-break: break-all;
    width: 150px;
}
.main{
    padding: 0 50px 0 50px;
}