body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #7676A7;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #9B9BBF;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: calc(100% - 22px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: #CDCDDF;
}

button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:15px;
    padding: 10px 20px;
    background-color: #484B70;
    color: #C1C1D7;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
  
  button:hover{
    background-color: #A8A8C7;
    color: #484B70;
  }