body{
  background-color: #f4f4f4;
  background-image: url("../images/logo/house-cleaning.png");
  background-size:100px;

}
.apply-container {
  margin-left: 36.1%;
}

.apply-container h1 {
  font-size: 36px;
}

form {
  display: inline-block;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 10px;
}

input,select {
  padding: 10px;
  margin-bottom: 20px;
  width: 400px;
}

button {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.err{
  color: red;
}