.container {
  padding: 50px;
  z-index: 1;
  color: rgb(43, 45, 66);
}

.container p {
  font-size: 18px;
  margin-bottom: 15px;
}

.container button {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.logo {
  max-width: 100px;
  max-height: 50px;
  border-radius: 0px;
  opacity: 100%;
  z-index: 1;
}

img {
  position: absolute;
  z-index: -1;
  border-radius: 100%;
  opacity: 80%;
}

.img1 {
  transform: rotate(30deg);
  margin:0 0 0 50px;
}

.img2 {
  margin: 200px 0 0 350px;
  transform: rotate(-10deg);
}

.img3 {
  margin: 90px 0 0 750px;
  transform: rotate(20deg);
}

.img4 {
  margin: 300px 0 0 1150px;
  transform: rotate(-30deg);
}
