
  button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  

  .img_container{
    background-image: url(../images/profile-user.png);
    background-size: 150px;
    filter: blur(2%);
    height: 150px;
    width: 100vw;
    position: absolute;
    margin-top: -5px;
    z-index: -1;
   
}
.profileImage {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    z-index: 1;
}
.certiImg{
    position: absolute;
     top: 50px; 
     left: 1100px;
}
.certiImg img, embed{
  height: 90vh;
  width: 420px;
}
table{
  border: 1px solid #333;
  border-collapse: collapse;
}
.books{
  margin: 10px;
}
.edit{
  height: 20px;
  position: relative;
  left: 10px;
}

