body{
  background-color: #f4f4f4;
  background-image: url("../images/logo/house-cleaning.png");
  background-size:100px;

}
  button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  

  .img_container{
    background-image: url(../images/profile-user.png);
    background-size: 150px;
    filter: blur(2%);
    height: 150px;
    width: 100vw;
    position: absolute;
    margin-top: -5px;
    z-index: -1;
   
}
.profileImage {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    z-index: 1;
}
.certiImg{
    position: absolute;
     top: 50px; 
     left: 1100px;
}
.certiImg img, embed{
  height: 90vh;
  width: 420px;
}
table{
  border: 1px solid #333;
  border-collapse: collapse;
}
.books{
  margin: 10px;
}
.edit{
  height: 20px;
  position: relative;
  left: 10px;
}
table{
  width: 60%;
}
th{
  border: 2px solid #333;
  font-size: larger;
  padding: 10px 15px;
  text-align: center; 
}
td{
  border: 2px solid #333;
  text-align: center;
  padding: 3px 0px;
}
.green{
  color: rgb(97, 213, 97);
}
.red{
  color: rgb(255, 46, 46);
}
.det{
  color: #5D5746;
  font-size: large;
  font-weight: bold;
font-family: Georgia, 'Times New Roman', Times, serif;
}
input {
  padding: 5px;
  width: 10%;
}
