body{
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  background-image: url("../images/logo/house-cleaning.png");
  background-size:100px;
  margin-top: 60px; /* Adjust this value based on the height of your nav */


}
.cancel{
  padding: 8px 2px;
}
  button {
    border-radius: 5px;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  

  .img_container{
    background-image: url(../images/profile-user.png);
    background-size: 150px;
    filter: blur(2%);
    height: 150px;
    width: 100%;
    position: absolute;
    margin-top: -5px;
    z-index: -1;
   
}
.profileImage {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    z-index: 1;
}
.certiImg{
    position: absolute;
     top: 50px; 
     left: 1100px;
}
.certiImg img, embed{
  height: 90vh;
  width: 420px;
}
table{
  /* border: 1px solid #333; */
  border-collapse: collapse;
  width: 60vw;
  border-radius: 8px 8px 0 0;
  overflow: hidden;
}
thead{
  background-color: #8a8a8a61;
}
table tr:nth-of-type(even){
  background-color: #8a8a8a24;
}
tbody tr:last-of-type{
  border-bottom: 8px solid #333;
}
.books{
  margin: 10px;
}
.edit{
  height: 20px;
  position: relative;
  left: 10px;
}
th{
  /* border: 2px solid #333; */
  border-bottom: 3px solid #333;
  font-size: larger;
  text-align: center; 
  padding: 15px 25px;
}
td{
  /* border: 2px solid #333; */
  text-align: center;
}
.green{
  color: rgb(97, 213, 97);
  padding: 20px 5px;

}
.red{
  color: rgb(255, 46, 46);
  padding: 20px 5px;

}
.det{
  color: #5D5746;
  font-size: large;
  font-weight: bold;
font-family: Georgia, 'Times New Roman', Times, serif;
}
input {
  padding: 5px;
  width: 10%;
}
.notice{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  border: 2px solid red;
  height: 200px;
  width: 300px;
  padding: 30px;
}
.nNb{
  position: absolute;
  left: 3%;
  top: 30%;
}
