.main {
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  margin-left: 200px;
}
.card {
  max-width: 300px;
  border-radius: 0.5rem;
  background-color: #ddd;
  box-shadow: none;
  border: none;
  padding: 20px;
  margin-top: 50px;
  margin-left: 50px;
}

.card .image {
  width: 100%;
  height: 150px;
  background-color: #ddd;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  overflow: hidden;
}

.card .image img {
  height: 150px;
  border-radius: 50%;
}
button{
  border: 0;
  text-decoration: none;
  background: transparent;
  font-weight: bolder;
  font-size: larger;
  color: rgb(43, 43, 165);
  cursor: pointer;
}
.sidebar {
  width: 200px;
  height: 100%;
  background-color: #747474;
  text-align: center;
  color: #ddd;
  position: fixed;
  margin-top: 48px;
}


.sidebar div {
  margin-right: 10px; 
  margin-bottom: 10px;
}

.sidebar input[type="checkbox"] {
  display: none;
}

.sidebar label {
  display: inline-block;
  padding: 8px 16px;
  background-color: #333;
  border-radius: 5px;
  cursor: pointer;
  width: 100px;
}

.sidebar label:hover {
  background-color: #d4d4d4;
  color: #333;
}

/* Style for checked checkboxes */
.sidebar input[type="checkbox"]:checked + label {
  background-color: #d4d4d4;
  color: white;
}

/* Style for checked checkboxes on hover */
.sidebar input[type="checkbox"]:checked + label:hover {
  background-color: #d4d4d4;
}

h2{
  color: white;
}