body{
  background-color: #f4f4f4;
  background-image: url("../images/logo/house-cleaning.png");
  background-size:100px;

}
.signin-container {
  text-align: center;
}

.signin-container h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

form {
  display: inline-block;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
}

button {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}